.section-brands{
    width: 70%;
    height: 30vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.brand-mover{
    overflow:hidden;
    height: 60%;
    width: 200%;
    margin: auto;
    display: block;
    margin-top: 6rem;
    animation: moveSlideshow 16s linear infinite;

    @include respond(tab-port) {
        width: 130%;
    }

    img{
        height: 80%;
        width: 25rem;
        display: inline-block;
        vertical-align: middle;
        object-fit: contain;
        margin-right: 3rem;

        @include respond(tab-port) {
            width: 15rem !important;
            margin-right: 2rem !important;
        }

        @include respond(phone) {
            width: 8rem !important;
            margin-right: 1rem !important;
        }
        
    }
}

@keyframes moveSlideshow {
    100% { 
      transform: translateX(-120rem);  
    }
  }