.section-intro{
    width: 100%;
    
}

.intro{
    &-content{
        width: 50%;
        display: block;
        margin: auto;
        text-align: center;;
        padding: 8rem 2rem;

        @include respond(tab-land) {
            width: 70% !important;
        }
        @include respond(tab-land) {
            width: 90% !important;
        }

        &-title{
            text-transform: uppercase;
        }

        &-text{
            font-size: 2rem;
            line-height: 1.5;
            color: $color-grey-dark-1;
        }

        &-img{
            width: calc(100% - 4rem);
            height: 30vh;
            margin: 2rem;
            background-image: url(../img/woman-918532_1920.jpg);    //need tp be relative path when it's in css folder
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            transition: transform .4s;

            &:hover{
                transform:translateY(-1em);
            }
        
        }

    }

} 

