.section-services{
    width: 100%;
    background-color: rgba($color-grey-light-1, .9);
}

.service{
    &-content{
        width: 70%;
        padding: 8rem 2rem;
        display: block;
        margin: auto;
        line-height: 1.5;

        @include respond(tab-land) {
            width: 90% !important;
        }
    }
    &-box{
        display: inline-block;
        width: calc((100% - 2 * #{$gutter-horizontal}) / 2);
        height: 50vh;
        border: 1px solid rgba($color-grey-dark-1, .5);
        box-shadow: 0.1rem 0.1rem 0.1rem rgba($color-grey-dark-1, .4);
        margin-top: calc(#{$gutter-horizontal});
        background-color: $color-white;
        transition: .4s;
        vertical-align: top;
        position: relative;

        @include respond(tab-port) {
            width: 100% !important;
        }
        @include respond(phone){
            height: 70vh;
        }

        &-left{
            margin-right:calc(1.8 * #{$gutter-horizontal});
            @include respond(phone){
                margin-right: 0;
            }
        }

        &:hover{
            transform: translateY(-1rem);
            box-shadow: 0.8rem 0.8rem 0.8rem rgba($color-grey-dark-1, .4);
        }

        &-title{
            font-size: 2rem;
            text-transform: uppercase;
        }
        &-text{
            font-size: 1.7rem;
            color: $color-grey-dark-1;
        }
        &-link{
            font-size: 1.7rem;
            padding: 0.5rem 3rem;
            text-transform: uppercase;
            color: $color-grey-light-2;
            position: absolute;
            right: 10%;
            bottom: 3%;
            transition: all .4s;
            height: 3rem;
            width: 50%;

            &:hover{
                color: $color-grey-dark-2;
            }

            &:hover &__text{
                transform: translateX(-11rem) translateY(-1.5rem);
                background-color: none;
            }

            &:hover &__arrow{
                transform: translateX(-3rem) translateY(-1.5rem);
                z-index:1;
            }

            &__text{
                z-index:1;
                position: absolute;
                height: 3rem;
                width: 15rem;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: all .4s;
                background-color: $color-white;
            }
            &__arrow{
                position: absolute;
                top: 50%;
                left: 50%;
                height: 3rem;
                width: 15rem;
                z-index:-1;
                text-align: center;
                transform: translate(-50%,-50%);
                transition: all .4s;
            }

        }

        &-first{
            height: 100%;
            width: 40%;
            display: inline-block;
            vertical-align: top;
            background-size: cover;
            background-position: center;

            &__1{
                background-image:url("../img/swimming-2392283_1920.jpg");
            }
            &__2{
                background-image:url("../img/competition.png");
            }
            &__3{
                background-image:url("../img/hospitality.jpg");
            }
            &__4{
                background-image:url("../img/leisure.jpg");
            }
            &__5{
                background-image:url("../img/renovaction.jpg");
            }
            &__6{
                background-image:url("../img/wellness.jpg");
            }
            &__7{
                background-image:url("../img/mytha-technology.jpg");
            }
            &__8{
                background-image:url("../img/swimming-2392283_1920.jpg");
            }
            &__9{
                background-image:url("../img/aqquatix.jpg");
            }
            &__10{
                background-image:url("../img/good-boost.png");
            }
            &__11{
                background-image:url("../img/preformati.jpg");
            }

            @include respond(phone){
                width: 100%;
                height: 45%;
            }
        }

        &-second{
            height: 100%;
            width: 55%;
            vertical-align: top;
            display: inline-block;
            position: relative;
            padding: 2rem;

            @include respond(phone){
                width: 100%;
                height: 54%;
            }
        }

    }
}